Makefile
Makefile.in

autom4te.*
configure

aclocal.m4
config.log
config.status
/config/compile
/config/config.*
/config/depcomp
/config/install-sh
/config/missing
*.m4

#lib/

*.[oa]
.deps/

*[A-Z]*.h
*.m5
*.z5

inform
